.body{
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.navBar{
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    width:100%;
    height:3%;
    margin:0;
    overflow: hidden;
}

.navLogo{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    display:flex;
    float:left;
}

.navLinks{
    text-decoration: none;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    float:right;
    text-align: center;
    padding:5px;
    margin-top:2.5%;
}

.navLinks:hover{
    text-decoration: none;
    font-size: 17px;
    background-color: white;
    color:navy;
    float:right;
    border-radius: 5px;
}

.pageTitle{
    font-size:30px;
    text-align: center;
    color: white;
}
.pageHeading{
    font-size:20px;
    text-align: center;
    color: navy;
}

form{
    width: 80%;
    margin-right:10% ;
    border-radius: 5px;
    margin-left:10% ;
    background: white;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.8), rgba(255,255,255,0.3));
    border:0;
    padding: 15px;
}

.smallForm{
    width: 30%;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-right: 35%;
    margin-left: 35%;
    justify-content:space-evenly;
}

.formLabel{
    text-align: left;
    display: block;
    margin-top:5px;
    margin-bottom: 5px;
    
}
.formInput{
    width: 100%;
}
button{
    width: 20%;
    color:navy;
    background-color: cornsilk;
    background: linear-gradient(to right top, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    margin-top:10px ;
    border:solid 1px #dddddd;
    height:2rem;
    border-radius: 5px;
}
button:hover{
    color:cornsilk;
    background-color: navy;
    background: linear-gradient(to right top, rgba(0,0,128,0.5),rgba(0,0,128,0.1));
}

.logoImg{
    height:75%; 
    width:20%; 
    margin:10px; 
    border-radius:5px;
}

table{
    border:none;
    border-radius: 10%;
    width:90%;
    
    margin-top:2%;
    margin-right: 5%;
    margin-left:5%;
}
thead{
    border-radius: 5px;
    color: navy;
    border:none;
    position:relative;
}
.passwordRow{
    background: white;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border:none;
    height:2rem;
    border-radius: 15px;
}